body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-self: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="color"],
input[type="password"],
button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="color"] {
    width: 100%;
    cursor: pointer;
}

button {
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

button[type=submit] {
    width: 150px;
    display: block;
    align-self: center;
}

p{
    text-align: center;
}

#spanConnexion {
    cursor: pointer;
    transition: 0.5s;
    color: #007bff;
    font-weight: bold;
    text-decoration: underline;
}

#logIn {
    display: none;
}

span:hover {
    color: #0056b3;
}

#modal {
    display: flex;
    flex-direction: column;
    width: 600px;
    padding: 30px;
    background-color: rgb(171, 154, 154);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}